body {
	margin: 0;
  padding: 0;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.4s ease-in-out;
}

ul {
  position: fixed;
  font-family: "Roboto", "arial";
  /*font-size: 20px;*/
}

ul li {
  list-style-type: none;
  margin-top: 1.6em;
}

@media only screen and (max-width: 500px) {
  ul#options .mdl-button {
    /*font-size: 40px;*/
  }
}
